:root{
    --bodyRenk: #ededed;
    --headerFooter: #253342;
    --container: #fefefe;
}
body{font-family: "Kanit", sans-serif;}
.container {
    width: 65%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: 
    var(--container);
    padding: 20px;
    color: var(--headerFooter);
    border-radius: 10px;
    display: block;
    justify-content: space-between;
    font-size: 12px;
}
input{
    width: 20%;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    background-color: var(--bodyRenk);
    color: var(--headerFooter);
    font: bold;
    border-color: transparent;
  }
.yanitgonder{
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    background-color: var(--bodyRenk);
    color: var(--headerFooter);
    font: bold;
    border-color: transparent;
    cursor: pointer;
  }
  .yanitgonder:hover{
    background-color: white;
    box-shadow:  6px 6px 9px 3px var(--headerFooter);
    transition: 0.3s;
  }
#yanit{
    max-width: 946px;
}
.text{
    width: 200px;
}
.email-warn{
    color: red;
    font-size: 12px;
    padding-left: 30px;
    margin-left: -30px;
  }
  .email-warn a{
    color: var(--headerFooter);
  }

  .yeni-konular{
    width: 100%;
}

.yeni-konular ol{
    list-style: none;
    padding: 0;
}

.yeni-konular ol li{
    margin-bottom: 20px;
    font-size: 12px;
    position: relative; /* İç boşluklar için göreli pozisyon */
    color: var(--headerFooter);
}

.yeni-konular ol li::after{
    content: '';
    position: absolute;
    bottom: -10px; /* Çizginin altındaki boşluk */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--headerFooter); /* Çizgi rengi */
}

.yeni-konular ol li:last-child::after{
    display: none; /* Son öğeden sonra çizgiyi gizle */
}
strong{
    display: block;
    background-color: var(--headerFooter); /* Farklı bir arka plan rengi */
    padding: 15px 20px; /* İç boşlukları artırır */
    border-top-right-radius: 100px; /* Sağ üst köşeyi yuvarlar */
    font-size: 20px; /* Başlıkları büyük yapar */
    margin-bottom: 20px; /* Başlıkların altında boşluk bırakır */
    color: white;
    margin-top: 20px;
}